<div class="resume-section-content">
    <h2 class="mb-5">İletişim</h2>
    <form method="post">
        <div>
            <label>Ad Soyad</label>
            <input type="text" class="form-control" name="AdSoyad" />
        </div>
        <div>
            <label>Mail</label>
            <input type="text" class="form-control" name="Mail" />
        </div>
        <div>
            <label>Konu</label>
            <input type="text" class="form-control" name="Konu" />
        </div>
        <div>
            <label>Mesaj</label>
            <textarea class="form-control" rows="5" name="Mesaj"></textarea>
        </div>
        <br />
        <div><button class="btn btn-info">Gönder</button></div>
    </form>
</div>
