@using MvcCv.Models.Entity;
@model List<TblSertifikalarim>

<div class="resume-section-content">
    <h2 class="mb-5">Sertifikalarım</h2>
    @foreach (var x in Model)
    {
        <ul class="fa-ul mb-0">
            <li>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        @x.Aciklama
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">@x.Tarih</span></div>
                </div>
            </li>
        </ul>
    }
</div>
