
@{
    ViewBag.Title = "HobiEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Hobi Ekleme Sayfası</h4>
<br />
<form method="post">
    <input type="text" name="Aciklama1" class="form-control" placeholder="Hobi: " />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

